/*font URL ⤵ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

/*font start */
@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-primary: #196BB5;
  --color-secondary: #FDA93F;
  --color-slate: #4a5565 ;
}
.container-section {
  @apply max-w-screen-2xl container mx-auto py-5  px-4 sm:px-6 lg:px-8 
}

/*company logo loop*/
.marquee-track {
  width: max-content;
  animation: marquee 30s linear infinite;
}

.marquee-track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
} 